In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv(r'E:\Santander Recommendation\train_ver2.csv')

C:\Users\liamc\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
train.describe()

,ncodpers,ind_nuevo,indrel,tipodom,cod_prov,ind_actividad_cliente,renta,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
count,1.364731e+07,1.361958e+07,1.361958e+07,13619574.0,1.355372e+07,1.361958e+07,1.085293e+07,1.364731e+07,1.364731e+07,1.364731e+07,...,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.363125e+07,1.363125e+07,1.364731e+07
mean,8.349042e+05,5.956184e-02,1.178399e+00,1.0,2.657147e+01,4.578105e-01,1.342543e+05,1.022912e-04,2.315475e-05,6.554837e-01,...,5.886582e-03,9.170965e-03,2.627404e-03,5.253636e-02,4.438868e-02,2.560761e-02,3.847718e-03,5.472434e-02,5.942854e-02,1.279162e-01
std,4.315650e+05,2.366733e-01,4.177469e+00,0.0,1.278402e+01,4.982169e-01,2.306202e+05,1.011340e-02,4.811883e-03,4.752103e-01,...,7.649791e-02,9.532502e-02,5.119083e-02,2.231060e-01,2.059571e-01,1.579616e-01,6.191053e-02,2.274414e-01,2.364250e-01,3.339965e-01
min,1.588900e+04,0.000000e+00,1.000000e+00,1.0,1.000000e+00,0.000000e+00,1.202730e+03,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.528130e+05,0.000000e+00,1.000000e+00,1.0,1.500000e+01,0.000000e+00,6.871098e+04,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,9.318930e+05,0.000000e+00,1.000000e+00,1.0,2.800000e+01,0.000000e+00,1.018500e+05,0.000000e+00,0.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.199286e+06,0.000000e+00,1.000000e+00,1.0,3.500000e+01,1.000000e+00,1.559560e+05,0.000000e+00,0.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,1.553689e+06,1.000000e+00,9.900000e+01,1.0,5.200000e+01,1.000000e+00,2.889440e+07,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [4]:
train.describe(include = ['object'])

,fecha_dato,ind_empleado,pais_residencia,sexo,age,fecha_alta,antiguedad,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,nomprov,segmento
count,13647309,13619575,13619575,13619505,13647309,13619575,13647309,24793,13497528.0,13497528,13619575,13619575,1808,13461183,13619575,13553718,13457941
unique,17,5,118,2,235,6756,507,223,13.0,5,2,2,2,162,2,52,3
top,2016-05-28,N,ES,V,23,2014-07-28,0,2015-12-24,1.0,I,S,N,N,KHE,N,MADRID,02 - PARTICULARES
freq,931453,13610977,13553710,7424252,542682,57389,134335,763,7277607.0,7304875,13553711,12974839,1791,4055270,13584813,4409600,7960220

In [5]:
train = train.loc[train['fecha_dato']=='2016-05-28']

In [6]:
product_cols = ['ind_ahor_fin_ult1','ind_aval_fin_ult1','ind_cco_fin_ult1','ind_cder_fin_ult1',
                'ind_cno_fin_ult1','ind_ctju_fin_ult1','ind_ctma_fin_ult1','ind_ctop_fin_ult1',
                'ind_ctpp_fin_ult1','ind_deco_fin_ult1','ind_dela_fin_ult1','ind_deme_fin_ult1',
                'ind_ecue_fin_ult1','ind_fond_fin_ult1','ind_hip_fin_ult1','ind_nom_pens_ult1',
                'ind_nomina_ult1','ind_plan_fin_ult1','ind_pres_fin_ult1','ind_reca_fin_ult1',
                'ind_recibo_ult1','ind_tjcr_fin_ult1','ind_valo_fin_ult1','ind_viv_fin_ult1']

In [7]:
labels = train[product_cols]

In [8]:
labels['ncodpers'] = train.ncodpers

C:\Users\liamc\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
labels = labels.set_index("ncodpers")

In [10]:
stacked_labels = labels.stack()

In [11]:
filtered_labels = stacked_labels.reset_index()

In [12]:
filtered_labels.columns = ["ncodpers", "product", "interaction"]

In [13]:
filtered_labels['product'] = filtered_labels['product'].astype('category').cat.codes

In [14]:
filtered_labels.head()

   ncodpers  product  interaction
0    657640        0          0.0
1    657640        1          0.0
2    657640        2          0.0
3    657640        3          0.0
4    657640        4          0.0

In [15]:
interactions = filtered_labels.loc[filtered_labels['interaction']==1]

In [16]:
interactions['user_emb_id'] = interactions['ncodpers'].astype('category').cat.codes

C:\Users\liamc\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
joindf = interactions[['ncodpers','user_emb_id']].drop_duplicates()

In [18]:
test = pd.read_csv(r'E:\Santander Recommendation\test_ver2.csv')

C:\Users\liamc\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
test_ids = pd.DataFrame(test['ncodpers'])

In [20]:
test_usersdf = joindf.merge(test_ids,how='inner',on='ncodpers')

In [21]:
test_usersdf

        ncodpers  user_emb_id
0         657788       230647
1         657795       230651
2         657790       230649
3         657794       230650
4         657789       230648
5         657787       230646
6         657777       230641
7         657781       230644
8         657780       230643
9         657779       230642
10        657799       230652
11        657774       230640
12        657771       230639
13        657770       230638
14        657764       230637
15        657760       230636
16        657786       230645
17        657802       230653
18        657850       230663
19        657842       230662
20        657852       230664
21        657839       230661
22        657805       230654
23        657146       230443
24        657826       230660
25        657822       230659
26        657812       230657
27        657809       230656
28        657808       230655
29        657814       230658
...          ...          ...
696437   1166738       468434
696438   1166734       468433
696439   1166759       468444
696440   1166761       468445
696441   1166787       468469
696442   1166786       468468
696443   1166785       468467
696444   1166784       468466
696445   1166783       468465
696446   1166782       468464
696447   1166781       468463
696448   1166780       468462
696449   1166779       468461
696450   1166778       468460
696451   1166777       468459
696452   1166776       468458
696453   1166775       468457
696454   1166774       468456
696455   1166772       468455
696456   1166771       468454
696457   1166770       468453
696458   1166769       468452
696459   1166768       468451
696460   1166767       468450
696461   1166766       468449
696462   1166765       468448
696463   1166764       468447
696464   1166763       468446
696465   1166789       468471
696466   1550586       695878

[696467 rows x 2 columns]

In [22]:
test_users = test_usersdf['user_emb_id'].values

In [23]:
print(interactions.ncodpers.nunique())
print(interactions.user_emb_id.max())

696539
696538

In [24]:
user_ids = interactions['user_emb_id'].values
items_ids = interactions['product'].values

In [25]:
from spotlight.interactions import Interactions

In [26]:
interactionmatrix = Interactions(user_ids,items_ids)

In [27]:
from spotlight.cross_validation import random_train_test_split
from spotlight.evaluation import mrr_score
from spotlight.factorization.implicit import ImplicitFactorizationModel

In [28]:
train, test = random_train_test_split(interactionmatrix)

In [29]:
model = ImplicitFactorizationModel(n_iter=3,loss='bpr',use_cuda=True)
model.fit(train,verbose=True)

Epoch 0: loss 0.16101718939569828
Epoch 1: loss 0.11355964662081992
Epoch 2: loss 0.09515093043657932

In [30]:
#mrr = mrr_score(model, test)

In [31]:
pred = model.predict(test_users)

RuntimeError: The expanded size of the tensor (24) must match the existing size (696467) at non-singleton dimension 0